<!DOCTYPE html>
<html>
<head>
<title>资源管理</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../../static/css/bootstrap.min.css">
<link href="../../../plugins/bootstrap/bootstrap-table/bootstrap-table.min.css"  rel="stylesheet">
<link rel="stylesheet" href="../../../static/css/custom.css">
<script src="../../../static/js/jquery.min.js"></script>
<script src="../../../plugins/layer/layer.js"></script>
<script src="../../../static/js/bootstrap.min.js"></script>
<script src="../../../static/js/vue.min.js"></script>

<!-- bootstrap-table -->

<script src="../../../plugins/bootstrap/bootstrap-table/bootstrap-table.js"></script>
<script src="../../../plugins/bootstrap/bootstrap-table/extensions/export/bootstrap-table-export.min.js"></script>
<script src="../../../plugins/bootstrap/bootstrap-table/extensions/export/core/tableExport.min.js"></script>
<script src="../../../plugins/bootstrap/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>

<script src="../../../static/js/commonUtil.js"></script>
<script src="../../../static/js/base.js"></script>
<script src="../../../static/js/bootstrapTableCommon.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div class="sc">
		<!-- 自定义工具栏 -->
		<div id="table-toolbar" class="fixed-table-toolbar" style="height:45px;">
			<div class="pull-left search" style="margin: 5px;">资源名称：</div>
			<div style="margin: 5px;" class="pull-left search">
				<input id="resName" type="text" class="form-control" /> 
			</div>
			<div class="pull-left search" style="margin: 5px;">资源类型：</div>
			<div style="margin: 5px;" class="pull-left search">
				<select id="resType" class="form-control w90px">

				</select>
			</div>
			<div style="margin: 5px;height: 34px;" class="pull-left search">
				<button id='btnSearch' class="btn btn-primary" @click="query">查询</button>
			</div>
			<div style="margin: 5px;height: 34px;" class="pull-left search">
				<button id='btnRefresh' class="btn btn-success">刷新</button>
			</div>
		</div>
		<div class="grid-btn">
			<div class="form-group" style="margin-bottom: 0;">
				<a v-if="hasPermission('sys:menu:save')" class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
				<a v-if="hasPermission('sys:menu:update')" class="btn btn-primary" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
				<a v-if="hasPermission('sys:menu:delete')" class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</div>
		</div>
	</div>

	<div id="tb" class="tb" style="margin-top:-15px;">
		<div id="reportTableDiv">
			<table id="table"></table>
		</div>
	</div>
</div>

<script src="resources-table.js"></script>
<script src="resources.js"></script>
</body>
</html>