/*    sidebar shrink*/

.side-bar.shrink {
    width: 45px;
}

.f-s-16{
    font-size: 16px;
}

.f-s-14{
    font-size: 14px;
}

.side-bar.shrink .brand .brand-icon {
    width: 100%;
    /*padding-left: 5px;*/
}

.side-bar.shrink .brand .brand-desc {
    display: none;
}

.side-bar.shrink .content .menus .menu-list li a {
    padding-left: 14px;
}

.side-bar.shrink .content .menus .menu-list li a span {
    display: none;
}

.side-bar.shrink .content .menus .menu-list li > span {
    display: none;
}


/*normal*/

.side-bar {
    width: 255px;
    height: 100%;
    /*    background: whitesmoke;*/
    /*background: #2B2B43;*/
	/*background:#0a6fc7;*/
/*    border-right: 1px solid lightgray;*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
}

.side-bar .brand {
    height: 50px;
    width: 100%;
    background: #00284d;
    position: relative;
    z-index: 2
}

.side-bar .brand > div {
    float: left;
}

.side-bar .brand .brand-icon {
    width: 90px;
    height: 100%;
    padding-left: 30px;
    box-sizing: border-box;
}

.side-bar .brand .brand-icon img {
    width: 100%;
    height: 100%;
}

.side-bar .brand .brand-desc {
    width: calc(100% - 120px);
    /*color: dimgray;*/
    color:#fff;
    font-size: 18px;
    line-height: 50px;
    /*font-weight: bold;*/
    letter-spacing: 2px;
    /*padding-left: 17px;*/
    box-sizing: border-box;

}
.side-bar .brand .brand-nav{
    width:30px;
    text-align:center;
/*    line-height: 49px;*/
    padding:12px;
    box-sizing: border-box;
}
.side-bar .brand .brand-nav:hover>a{
    color:#2B2B43;
}
.side-bar .brand .brand-nav>a{
    color:dimgray;
    font-size:20px;
    transition:0.3s;
}

.side-bar .content {
    height: calc(100% - 50px);
    width: 100%;
    position: relative;
    z-index: 1;
}

.side-bar .content .content-btn {
    position: absolute;
    z-index: 10;
    top: 0;
    text-align: center;
    width: 44px;
    height: 40px;
    color: white;
    cursor: pointer;
    display: none;
}

.brand-nav{position: relative;left: 160px}

.side-bar .content .btn-next {
    top: calc(100% - 40px);
    /*background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));*/
}

.side-bar .content .btn-prev {
    /*background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));*/
}

.side-bar .content .btn-next i {
    position: relative;
    top: 50%;
    width: 100%;
    transform: translate(0, -50%);
}

.side-bar .content .menus {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background: #012137;
}
.side-bar .content .menus > div{
    width:100%;
}

.side-bar .content .menus .menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
    transition: 1s ease;
}

.side-bar .content .menus .menu-list > li {
    /*        height: 50px;*/
    box-sizing: border-box;
    line-height: 60px;

    cursor: pointer;
    font-size: 14px;
    font-weight: 300;
    width: 100%;
    /*border-bottom: 0.2px solid rgba(54,134,205,0.8);*/
    border-top:1px solid #1E222D;
}

ul li ul li{ line-height: 40px !important; }/*正常情况下隐藏*/
ul>li>ul>li>ul>li{ line-height: 40px; }/*正常情况下隐藏*/
ul>li>ul>li>ul>li>ul>li{ line-height: 40px; }/*正常情况下隐藏*/

.side-bar .content .menus .menu-list li {

}

.side-bar .content .menus .menu-list li.basic.active {
    /*    background: #4FA2DC;*/
    /*background: #0f91e4;*/
    background: #cb9f4c;
}

.side-bar .content .menus .menu-list li.basic.active a {
    color: white;
}

.side-bar .content .menus .menu-list li.basic.active a > i {
    color: white;
}

.side-bar .content .menus .menu-list li.dropdown > span {
    transition: 0.3s;
}

.side-bar .content .menus .menu-list li.dropdown.active > span {
    transform: rotate(90deg);
}


/*    enter*/

.side-bar .content .menus .menu-list li.enter {
    width: 200px;
    background: #1C1C38;
}

.side-bar .content .menus .menu-list li.enter a {
    padding-left: 10;
}
.side-bar .content .menus .menu-list li.enter .menu-dropdown .menu-list{
    background:#1C1C38;
    width:200px;
    pointer-events: auto;
}
.side-bar .content .menus .menu-list li.enter .menu-dropdown .menu-list li a {
    padding-left: 10px;
}

.side-bar .content .menus .menu-list li.enter .menu-dropdown .menu-list li .menu-list li a {
    padding-left: 10px;
}

.side-bar .content .menus .menu-list li.enter a > span {
    display: inline-block;
}

.side-bar .content .menus .menu-list li.enter span {
    display: inline-block;
}

.side-bar .content .menus .menu-list li.dropdown.enter > span {
    transform: rotate(90deg);
}

.side-bar .content .menus .menu-list li.enter > div {
    display: block;
    position: absolute;
    /*    left: 45px;*/
/*    background: #12122C;*/
/*    width: 200px;*/
    /*    transform:translate(100%, -50px);*/
    position: absolute;
    left: 198px;
    top: 0px;
    
    width:10000px;
    pointer-events:none;
    background:transparent;
}

.side-bar .content .menus .menu-list li.enter > div li {
    display: block;
    background: #12122C;
    width: 200px;
    /*    top: -1px;*/
    position: relative;
}

.side-bar .content .menus .menu-list li.enter.enter-reverse {}

.side-bar .content .menus .menu-list li.enter.enter-reverse div.menu-dropdown {
    transform: translate(0, -100%);
    position: absolute;
    top: 43px;
}

.side-bar .content .menus .menu-list li a {
    /*    color: black;*/
    color: #ffffff;
    text-decoration: none;
    padding-left: 15px;
    width: 100%;
    display: inline-block;
	/*border-bottom: 1px solid rgba(54,134,205,0.8);*/
}

.side-bar .content .menus .menu-list li a:hover {
    color: white;
}

.side-bar .content .menus .menu-list li a i {
    font-size: 16px;
    margin-right: 5px;
    color: #ffffff;
    width:16px;
}

.side-bar .content .menus .menu-list li a > .name {
    width: 120px;
    overflow: hidden;
    vertical-align: bottom;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #9fa7ae;
}

.side-bar .content .menus .menu-list li.basic.active a > .name {
    color:#ebebeb;
}

.side-bar .content .menus .menu-list li .dropdown-icon {
    margin-right: 5px;
    color: #D0D0F4;
    position: absolute;
    right: 5px;
    pointer-events: none;
}

/*    下拉菜单*/

.side-bar .content .menus .menu-list li .menu-dropdown {
    /*background: #12122C;*/
	background: #012137;
    display: none;
}
.side-bar .content .menus .menu-list li .menu-dropdown .btn-dropdown{
    pointer-events: auto;
    position:absolute;
    z-index:1;
    width:200px;
    line-height:40px;
    text-align:center;
    color:white;
    display:none;
}
.side-bar .content .menus .menu-list li .menu-dropdown .btn-dropdown-next{
    bottom:0;
    /*background:linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));*/
}
.side-bar .content .menus .menu-list li .menu-dropdown .btn-dropdown-prev{
    /*background:linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));*/
}

.side-bar .content .menus .menu-list li .menu-dropdown .menu-list {
    /*        background:white;*/
}

/*    二级下拉菜单*/

.side-bar .content .menus .menu-list li .menu-dropdown .menu-list li a {
    padding-left: 25px;
}

/*    三级下拉菜单 */

.side-bar .content .menus .menu-list li .menu-dropdown .menu-list li .menu-list li a {
    padding-left: 35px;
}


/*----------------  Scroll bar style   --------------- */

.mCSB_scrollTools {
    width: 3px;
}

.mCSB_inside > .mCSB_container {
    margin-right: 0px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
    /*    background: #657692;*/
    /*background: #AAA;*/
}

.mCSB_scrollTools .mCSB_draggerRail {
    /*background-color: lightgray;*/
}
