<!DOCTYPE html>
<html>
<head>
<title>资源管理-编辑</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../../../static/css/font-awesome.min.css">
<link rel="stylesheet" href="../../../static/css/main.css">
<link rel="stylesheet" href="nav.css">
<link rel="stylesheet" href="../../../plugins/ztree/css/metroStyle/metroStyle.css">
<!-- 引入样式 -->
<link rel="stylesheet" href="../../../plugins/element-UI/index.css">
<link rel="stylesheet" href="../../../plugins/iconfont/iconfont.css">

<script src="../../../static/js/jquery.min.js"></script>
<script src="../../../plugins/layer/layer.js"></script>
<script src="../../../static/js/vue.min.js"></script>
<script src="../../../static/js/base.js"></script>
<script src="../../../plugins/ztree/jquery.ztree.all.min.js"></script>
<!-- 引入组件库 -->
<script src="../../../plugins/element-UI/index.js"></script>
<style>
	.el-icon-arrow-down:before {
	    content: "";
	}
</style>
</head>
<body style="padding:10px;">
<div id="rrapp" v-cloak>
    <div class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal" style="width: 100%;">
			<div class="form-group">
				<div class="col-sm-2 control-label"><span class="red">*</span>门户(viewi_name)</div>
				<div class="col-sm-4">
					<select v-model="nav.viewiId" id="viewiId" class="form-control">
				    	<option v-for="item in viewList" v-bind:value="item.id">
				        	{{ item.name }}
				      	</option>
					</select>
				</div>
				<!-- <div class="col-sm-2 control-label"><span class="red">*</span>资源类型</div>
				<div class="col-sm-4">
					<select v-model="nav.resType" v-bind:disabled="isAble" id="resType" class="form-control">
				    	<option v-for="item in itemList" v-bind:value="item.val">
				        	{{ item.txt }}
				      	</option>
					</select>
				</div> -->
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"><span class="red">*</span>菜单名称(menu_name)</div>
				<div class="col-sm-4">
					<input class="form-control" v-model="nav.name" placeholder="门户名称"/>
				</div>
				<div class="col-sm-2 control-label"><span class="red">*</span>资源编号</div>
				<div class="col-sm-4">
					<input class="form-control" v-bind:readonly="isReadOnly" v-model="nav.resourcesId" placeholder="资源编号"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"><span class="red">*</span>父级菜单</div>
				<div class="col-sm-4">
					<input type="text" class="form-control" style="cursor:pointer;" v-model="nav.parentName" @click="menuTree" readonly="readonly" placeholder="请选择"/>
				</div>
				<!-- <div class="col-sm-2 control-label">资源URL</div>
				<div class="col-sm-4">
					<input type="text" class="form-control" v-bind:readonly="isReadOnly2" v-model="nav.resUrl" placeholder="菜单URL"/>
				</div> -->
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">排序号</div>
				<div class="col-sm-4">
					<input type="number" class="form-control" v-model="nav.orderNum" placeholder="排序号"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">图片颜色</div>
				<div class="col-sm-4">
					<el-color-picker v-model="nav.imgColor"></el-color-picker>
					<!--<input type="text" class="form-control" id="colorPicker" v-model="nav.imgColor" placeholder="图片颜色"/>-->
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label">图片路径</div>
				<div class="col-sm-4">
					<!--<input type="file" class="file">-->
					<!--button控制事件-->
					<!--<el-button size="small"   @click="readFile">读取</el-button>-->
					<el-input placeholder="选择图标" v-bind:value="input3" v-model="nav.img">
					  <template slot="prepend"><i :class="input3" v-model="nav.img"></i></template>
					  <el-popover  placement="right" width="300" trigger="click" slot="append" >
					    <el-row>
					      <el-col v-for="(item,index) in cities" :key=index :span="6">
					        <!--<el-button  :icon="item" @click="selectIcon(item)" v-bind:style="{ bgImg.filter(icon => icon.icon===item ? backgroundImg: 'url('+ bgImg.bgImg +')'}"></el-button>-->
					        <el-button  :icon="item" @click="selectIcon(item)"></el-button>
					      </el-col>
					    </el-row>
					    <el-button slot="reference">选择</el-button>
					  </el-popover>
					</el-input>
					<!--<input type="text" class="form-control" v-model="nav.img" placeholder="图片路径"/>-->
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div>
				<input type="button" style="margin-left: 15px;" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="close" value="关闭"/>
			</div>
		</form>
	</div>
</div>

<!-- 选择菜单 -->
<div id="menuLayer" style="display: none;padding:10px;">
	<ul id="menuTree" class="ztree"></ul>
</div>

<script src="nav-publish.js"></script>

</body>
</html>